<fieldset>
    <legend>{{ heading_title }}</legend>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>{{ text_risk_score }}</td>
                    <td>{{ risk_score }}</td>
                </tr>
                <tr>
                    <td>{{ text_recommended_action }}</td>
                    <td>{{ recommended_action }}</td>
                </tr>
                <tr>
                    <td>{{ text_risk_details }}</td>
                    <td>{{ risk_details }}</td>
                </tr>
                <tr>
                    <td>{{ text_calculated_at }}</td>
                    <td>{{ calculated_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>